body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	width: 48em;
	margin: 0 auto;
}

#header {
	background-color: #16a085;
	color: white;
	padding: 1em;
	text-align: center;
}

#form-box {
	text-align: center;
}

.input-field {
	margin: 1em 0;
}

.input-field > label {
	display: block;
	font-weight: bold;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

#nav {
	overflow: hidden;
}

#nav ul {
	padding: 0;
	list-style: none;
	float: right;
}

#nav ul li {
	float: left;
	margin: 0 0.5em;
}

#sub-heading {
	text-align: center;
}

#user-info {
	border: 1px solid #ccc;
	padding: 1em;
}
