<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NewCodingtonAdminPortal</display-name>
  <welcome-file-list>
    <welcome-file>mainpage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MuseumServlet</display-name>
    <servlet-name>MuseumServlet</servlet-name>
    <servlet-class>com.accenture.newcodington.servlet.MuseumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuseumServlet</servlet-name>
    <url-pattern>/MuseumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZooServlet</display-name>
    <servlet-name>ZooServlet</servlet-name>
    <servlet-class>com.accenture.newcodington.servlet.ZooServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZooServlet</servlet-name>
    <url-pattern>/ZooServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParkServlet</display-name>
    <servlet-name>ParkServlet</servlet-name>
    <servlet-class>com.accenture.newcodington.servlet.ParkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkServlet</servlet-name>
    <url-pattern>/ParkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheaterServlet</display-name>
    <servlet-name>TheaterServlet</servlet-name>
    <servlet-class>com.accenture.newcodington.servlet.TheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterServlet</servlet-name>
    <url-pattern>/TheaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StadiumServlet</display-name>
    <servlet-name>StadiumServlet</servlet-name>
    <servlet-class>com.accenture.newcodington.servlet.StadiumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StadiumServlet</servlet-name>
    <url-pattern>/StadiumServlet</url-pattern>
  </servlet-mapping>
</web-app>